<app-aside privilegeName="admin" [(isOpen)]="isAsideOpened">
  <aside-group-item groupName="controles" [isOpen]="true">
    <app-aside-item [ngClass]="" routerLink="/admin/dashboard" #isDashboardRouterActive="routerLinkActive"
                [isActive]="isDashboardRouterActive.isActive" routerLinkActive itemName="dashboard" class="mb-1"
                [itemIcon]="iconDefinition.faWindowRestore"/>
    <app-aside-item [ngClass]="" routerLink="/home" #isHomeRouterActive="routerLinkActive"
                [isActive]="isHomeRouterActive.isActive" routerLinkActive [itemName]="'Home'" class="mb-1"
                [itemIcon]="iconDefinition.faLayerGroup"/>
  </aside-group-item>

  <aside-group-item groupName="users" [isOpen]="true">
    <app-aside-item routerLink="/admin/users" #isUsersRouterActive="routerLinkActive"
                [isActive]="isUsersRouterActive.isActive" routerLinkActive [itemName]="'Users'"
                [itemIcon]="iconDefinition.faUsers"/>
  </aside-group-item>

  <aside-group-item groupName="app" [separatorLine]="false" [isOpen]="true">
    <app-aside-item routerLink="/admin/clubs"
                itemName="clubs"
                #isClubsRouterActive="routerLinkActive"
                [isActive]="isClubsRouterActive.isActive"
                routerLinkActive
                [itemIcon]="iconDefinition.faShop"
    />
    <app-aside-item routerLink="/admin/clubs/overviews"
                [itemName]="'overviews'"
                #isOverviewsRouterActive="routerLinkActive"
                [isActive]="isOverviewsRouterActive.isActive"
                routerLinkActive
                [itemIcon]="iconDefinition.faEye"
    />
  </aside-group-item>
</app-aside>

<main class="{{isAsideOpened?'opened-aside':'closed-aside'}}">
  <ng-content></ng-content>
</main>
