<aside [ngClass]="isOpen ? 'opened': 'closed'">
  <header class="logo-details">

    @if (isOpen) {
      <div class="logo_name">Hup</div>
      <fa-icon class="bars-staggered-btn" (click)="isOpen=!isOpen" [icon]="faBarsStaggered"></fa-icon>
    }
    @if (!isOpen) {
      <fa-icon class="bars-btn" (click)="isOpen = !isOpen" [icon]="faBars"></fa-icon>
    }
  </header>
  <ul class="items">
    <li class="active">
      <div class="mb-3 search-container" data-bs-toggle="tooltip" data-bs-placement="top" title="search">
        <fa-icon (click)="isOpen=!isOpen" [icon]="iconDefinition.faSearch" class="search-icon"></fa-icon>
        <input #asideSearchInput type="text" class="form-control search-input" placeholder="Search (Ctrl + K)">
        <span class="tooltip">search</span>
      </div>
    </li>

    <li class="item active">
      <div class="content">
        <fa-icon class="icon-indicator" [icon]="iconDefinition.faWindowRestore"></fa-icon>
        <span class="links_name">dashboard</span>
      </div>
      <span class="tooltip">dashboard</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="assets/images/avatars/1.png" alt="profileImg">
        <div class="name_job">
          <div class="name">FerasBarahmeh</div>
        </div>
      </div>
      <div class="logout-btn">
        <fa-icon [icon]="iconDefinition.faRightFromBracket"></fa-icon>
        <span class="tooltip">logout</span>
      </div>
    </li>
  </ul>
</aside>
