<aside [ngClass]="isOpen ? 'opened': 'closed'">
  <header class="logo-details">

    @if (isOpen) {
      <div class="logo_name">Hup</div>
      <fa-icon class="bars-staggered-btn" (click)="toggleAside()" [icon]="iconDefinition.faBarsStaggered"></fa-icon>
    }
    @if (!isOpen) {
      <fa-icon class="bars-btn" (click)="toggleAside()" [icon]="iconDefinition.faBars"></fa-icon>
    }
  </header>
  <ul class="items">
    <li class="search">
      <div class="search-container">
        <fa-icon (click)="toggleAside()" [icon]="iconDefinition.faSearch" class="search-icon"></fa-icon>
        <input #asideSearchInput type="text" class="form-control search-input" placeholder="Search (Ctrl + K)">
        <span class="tooltip">search (Ctrl + k)</span>
      </div>
    </li>

    <ng-content></ng-content>

    <li class="profile">
      <div class="profile-details">
        <img src="assets/images/avatars/1.png" alt="profileImg">
        <div class="name_job">
          <div class="name">FerasBarahmeh</div>
        </div>
      </div>
      <div class="logout-btn">
        <fa-icon [icon]="iconDefinition.faRightFromBracket"></fa-icon>
        <span class="tooltip">logout</span>
      </div>
    </li>
  </ul>
</aside>
