<aside [ngClass]="isOpen ? 'opened': 'closed'">
  <div class="switcher" (click)="isOpen = ! isOpen">
    <fa-icon [icon]="iconDefinition.faAngleDoubleRight" [ngClass]="{'rotate-180' : isOpen} "></fa-icon>
  </div>
  <header class="d-flex content-header">PlayStation Hub</header>
  <main class="position-relative">
    <section class="search-container">
      <div class="input-group mb-3">
        <fa-icon [icon]="iconDefinition.faSearch" class="search-icon"></fa-icon>
        <input #asideSearchInput type="text" class="form-control search-input" placeholder="Search">
        <button class="btn shortcut-btn">Ctrl + K</button>
      </div>
    </section>
    <section class="items">
      <ul>
        <ng-content></ng-content>
      </ul>

    </section>

    <footer class="aside-footer">
      @if (isPopoverProfileOptionOpen) {
      <section class="profile-options">
        <div class="subitems">
          <aside-item [routerLink]="['/auth/logout']" itemName="logout" [ItemIcom]="iconDefinition.faArrowLeft" />
        </div>
      </section>
      }
      <section class="profile-link" (click)="isPopoverProfileOptionOpen = !isPopoverProfileOptionOpen">
        <div><img class="avatar" src="assets/images/avatars/1.png" alt="avatar1"></div>
        <div class="info">
          <div class="name">Feras barahmeh</div>
          <div class="role">Admin</div>
        </div>
      </section>

    </footer>

  </main>
</aside>