aside li {
  position: relative;
  margin: 8px 8px 8px 0;
  list-style: none;
  cursor: pointer;
}
aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--closed-aside-width);
  background-color: var(--card-bg);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
aside.opened {
  width: var(--opened-aside-width);
}
header.logo-details {
  font-size: 28px;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
aside.opened header.logo-details {
  margin-bottom: 13px;
  border-bottom: 1px solid;
}

header.logo-details .bars-staggered-btn,
header.logo-details .bars-btn {
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 23px;
}
header.logo-details .logo_name {
  background: linear-gradient(to right, var(--color-primary), var(--color-accent-light));
  color: transparent;
  background-clip: text;
}
header.logo-details .bars-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Start Nav*/
.nav-list {
  height: calc(100% - 64px);
  overflow-y: scroll;
  overflow-x: auto;
}
aside .nav-list::-webkit-scrollbar,
aside .nav-list::-webkit-scrollbar-thumb,
aside .nav-list::-webkit-scrollbar-track {
  display: none;
}
aside .search {
  position: relative;
  border-radius: 10px;
}
aside.closed li.search {
  background-color:  var(--input-bg);
}
.search-container {
  position: relative;
  margin-bottom: 16px;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--color-primary);
}
aside.opened .search-icon {
  left: calc(100% - 14px); /* 14px aside padding */
}
aside.opened .search-icon:hover {
  color: var(--color-primary)
}

aside .search-icon:hover {
  color: var(--color-accent-light);
}
.search-input {
  font-size: 15px;
  color: white;
  font-weight: 400;
  outline: none;
  height: 45px;
  width: 0;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: transparent;
}
aside.opened .search-input {
  width: 100%;
  background: var(--input-bg);
}

/*Start tooltip*/
aside li .tooltip {
  position: absolute;
  min-width: fit-content;
  white-space: nowrap;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--color-dark);
  color: var(--text-light);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0; /* Hidden by default */
  pointer-events: none;
  transition: 0s;
  text-transform: capitalize;
}
aside.opened li .tooltip {
  display: none;
}
aside li:hover .tooltip {
  opacity: 1; /* Shows tooltip on hover */
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
/*End Tooltip*/

/*Start Profile Item*/
aside li.profile {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  margin: 8px;
  padding: 5px;
  width: calc(100% - 14px);
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}
aside.opened li.profile {
  justify-content: space-between;

}
aside li.profile .profile-details {
  align-items: center;
  gap: 16px;
  display: none;
}
aside.opened li.profile .profile-details {
  display: flex;
}
aside li.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
aside li.profile .logout-btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
aside li.profile .logout-btn:hover {
  opacity: 0.7;
}
aside.opened li.profile .logout-btn:hover {
  background: var(--color-primary);
}
/*End Profile Item*/

/*End Nav*/
