<nav aria-label="Page navigation">
  <ul class="pagination d-flex justify-content-between">
    <div class="d-flex">
      <li class="page-item pointer" [ngClass]="{'disabled': slideNumber===1}" (click)="previousSlide()">
        <span class="page-link">
          <fa-icon [icon]="icons.faAngleLeft"></fa-icon>
        </span>
      </li>
      <li class="page-item pointer" [ngClass]="{'disabled': slideNumber*slideSize>=totalCount}" (click)="nextSlide()">
        <span class="page-link">
          <fa-icon [icon]="icons.faAngleRight"></fa-icon>
        </span>
      </li>
    </div>
    <li class="flex-end page-item pointer">
      <select class="form-select form-select-sm h-100 pointer" aria-label="form-select-sm"
        (change)="onSlideSizeChange($event)">
        <option [selected]="slideSize == 5" value="5">5</option>
        <option [selected]="slideSize == 10" value="10">10</option>
        <option [selected]="slideSize == 15" value="15">15</option>
        <option [selected]="slideSize == 20" value="20">20</option>
      </select>
    </li>
  </ul>
</nav>