<section>
  <div class="container py-5">
    <div class="row">
      <breadcrumb [breadcrumbs]="[{label: 'Admin', url:'/dashboard'}, {label:'Clubs', url:'/admin/clubs'}, {label:club.name}]"></breadcrumb>
    </div>

    <div class="row mt-md-2 mt-sm-1">
      <div class="col-lg-4">
        <div class="card shadow mb-4">
          <div class="card-body text-center">
            <img src="/assets/images/clubs/1.jpeg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ club.name }}</h5>
            <p class="text-muted mb-4">We are not the only ones but we are the best</p>
          </div>
        </div>
        <div class="card shadow-sm mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="rounded-3 d-flex shadow-lg">
              <li class="p-3 d-flex gap-1 align-items-center">
                <fa-icon [icon]="faInstagram"/>
                <p class="mb-0">Instagram</p>
              </li>
              <li class="p-3 d-flex gap-1 align-items-center">
                <i class="fab fa-github fa-lg text-body"></i>
                <fa-icon [icon]="faFacebook"/>
                <p class="mb-0">Facebook</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ club.name }}</p>
              </div>
            </div>
            <div class="separator-line my-1"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">exampleexample.com</p>
              </div>
            </div>
            <div class="separator-line my-1"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <div class="separator-line my-1"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ club.location }}</p>
              </div>
            </div>
            <div class="separator-line my-1"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Owner</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ club.owner.user.username }}</p>
              </div>
            </div>

            <div class="separator-line my-1"></div>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Is Active</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  <span [ngClass]="{'text-success': club.status == Status.active.value, 'text-danger': club.status == Status.inactive.value}">
                    {{ club.statusName }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
