<app-admin-layout>
  <div class="container">
    <breadcrumb [breadcrumbs]="[
    { label: 'Admin', url: 'admin/dashboard' },
    { label: 'Clubs' },
  ]"/>
  </div>

  <div class="container shadow-lg rounded   bg-dark">
    <filter-table
      (searchStarted)="onSearchStart($event)"
      [filterableColumns]="['ID', 'Name']"
    />
    <table class="table table-responsive table-borderless">
      <thead class="border-bottom">
      <tr class="bg-dark">
        <th scope="col">#</th>
        <th scope="col" >Name</th>
        <th scope="col">Location</th>
        <th scope="col">options</th>
      </tr>
      </thead>

      <tbody class="bg-dark text-light shadow-lg">
        @for (club of clubs; track $index) {
          <app-club-row [isOdd]="$odd" [club]="club"/>
        }
      </tbody>
    </table>

  </div>
</app-admin-layout>
