<app-admin-layout>
  <div class="container mt-3">
    <breadcrumb [breadcrumbs]="[{ label: 'Admin', url: 'admin/dashboard' },{ label: 'Clubs' },]"/>
  </div>

  <div class="container px-4 pt-4 shadow-lg rounded bg-dark">
    <filter-table
      (searchStarted)="onSearchStart($event)"
      [filterableColumns]="['ID', 'Name']"
    >
      <li class="dropdown-item pointer text-capitalize" data-bs-toggle="modal" data-bs-target="#insertClubModal">
        insert club
      </li>
    </filter-table>

    <app-insert-club (clubInserted)="onClubInserted($event)"/>


    <div class="table-responsive rounded"  style="min-height: 170px">
      <table class="table">
        <thead class="border-bottom">
        <tr class="bg-dark text-center">
          <th scope="col" class="text-light">#</th>
          <th scope="col" class="text-light" >Name</th>
          <th scope="col" class="text-light">Location</th>
          <th scope="col" class="text-light text-end text-capitalize text-primary">options</th>
        </tr>
        </thead>
        <tbody class="bg-dark text-light shadow-lg">
          @for (club of clubs; track $index) {
            <app-club-row [isOdd]="$odd" [club]="club"/>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-admin-layout>
